streamlit
google-generativeai
python-dotenv
speechrecognition
pyttsx3
pipwin  # Replace pyaudio
torch==2.0.1
transformers==4.36.2
textblob
openai
pydub
gtts
opencv-python
mediapipe
numpy








